#ph-desktop {

    /*margin: -1em -1em 1em -1em;
    padding: 2em;*/

    box-shadow: 0 2px 4px rgb(0 0 0 / 16%), 0 2px 4px rgb(0 0 0 / 23%);
    margin-bottom: 1em;

    position: relative;

    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0.25rem;

    display:flex;
    flex-wrap: wrap;

    flex: 1 1 auto;
    padding: 1rem 1rem;

}

#ph-desktop .ph-shortcut-box {

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 7em;

    margin: 0.75em;
    text-align: center;
    /*background: rgba(0,0,0,0.5);
    border-radius: 3px;*/
    position: relative;

    border: 1px solid #b2bfcd;

}

#ph-desktop .ph-shortcut-icon {
    font-size: 3em;
    margin-bottom: 0;
}

#ph-desktop .ph-shortcut-icon-svg {
    margin-bottom: 0;
    padding: 0.75em;
}

#ph-desktop .ph-shortcut-icon-svg svg {
    width: 48px;
    height: 48px;
}

#ph-desktop .ph-shortcut-title {
    font-size: 0.75em;
    /*color: #fff;
    text-shadow: 1px 1px #000;*/
    margin-top: -0.5em;
    margin-bottom: 1em;
}

#ph-desktop a {
    text-decoration: none;
}

#ph-desktop .ph-shortcut-icon-pref {
    position:absolute;
    top: 0.3em;
    right: 0.3em;
}

#ph-desktop .ph-shortcut-icon-pref span {
    color: #F08700;
    font-size: 1.5em;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
}

main #system-message-container:not(:empty) {
    padding-bottom: 1em;
}

#ph-desktop .ph-shortcut-icon span {
    /*
    color: linear-gradient(var(--atum-link-color), var(--atum-link-hover-color)) !important;
    */
    color: transparent; /*!important;*/
    background: linear-gradient(var(--atum-link-color), var(--atum-link-hover-color));
    -webkit-background-clip: text;
    background-clip: text;
}

#ph-desktop .ph-shortcut-icon span::before {

    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
}
